<header id="content-header">
  <h1><%= pluralize(@users.size, 'User') %></h1>
</header>

<table>
  <thead>
    <tr>
      <th align='left'><%= sortable 'firstname', 'Firstname'%></th>
      <th align='left'><%= sortable 'lastname<', 'Lastname'%></th>
        <th align='left'><%= sortable 'email', 'Email'%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle('NormRow', 'AltRow') %>">
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
