<h1 class='rt-head-top'>Show User</h1>

<p id="notice"><%= notice %></tr>
<table>
  <tr>
    <td align='right'><strong>First:</strong></td>
    <td><%= @user.firstname %></td>
  </tr>

  <tr>
    <td align='right'><strong>Last:</strong></td>
    <td><%= @user.lastname %></td>
  </tr>

  <tr>
    <td align='right'><strong>Email:</strong></td>
    <td><%= @user.email %></td>
  </tr>
</table>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
